*~
**/.DS_Store
**/Thumbs.db
**/.svn
**/.hg
**/CVS
**/.swp
**/.sass-cache
**/.env
**/.localrc
**/.vscode
**/update-notifier*.json
**/extensions/*
**/keypairs/*
config/iterm2/AppSupport
config/.mono
config/gh/hosts.yml
config/raycast
config/rclone
config/sonic-pi.net
config/SweetScape
config/Xplist