<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>gh</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search GitHub for</string>
		<key>url</key>
		<string>https://github.com/search?q={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>ghu</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Show GitHub user</string>
		<key>url</key>
		<string>https://github.com/{query}</string>
		<key>utf8</key>
		<false/>
	</dict>
</array>
</plist>
